{{define "content"}}
<div class="main-menu">

    <div class="row">
        <div class="columns small-10 small-offset-1">
            <h4>Login >></h4>
            <form>
                <div class="row">
                    <div class="columns small-4">
                        <label>Email</label>
                        <input type="email" name="title">
                    </div>
                </div>
                <div class="row">

                    <div class="columns small-4">
                        <label>password</label>
                        <input type="password" name="password">
                    </div>
                </div>

                <div>
                    <button type="submit">Login</button>
                </div>
            </form>


        </div>
    </div>
</div>
</div>
{{end}}