{{define "content"}}
<div class="main-menu">

    <div class="row">
        <div class="columns small-10 small-offset-1">
            <h4>Post Article >></h4>
            <form>
                <div class="row">
                    <div class="columns small-4">
                        <label>Title</label>
                        <input type="text" name="title">
                    </div>
                </div>
                <div class="row">

                    <div class="columns small-4">
                        <label>Content</label>
                        <textarea type="text" name="content" rows="4" cols="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-4">
                        <input type="file" name="file">
                    </div>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>

        </div>
    </div>
</div>
</div>
{{end}}