<header class="row">
    <div class="columns small-2">
        <div class="logo-container">
            <div class="logo"></div>
            <h1>Raju's Blog</h1>
        </div>
    </div>
    <div class="columns small-10">
        <div class="row">
            <nav class="columns small-6 small-offset-6">
                <div class="row">
                    <div class="columns small-3 item">
                        <a href="/home" class="{{ if eq .Active "home" }} active {{end}}">Home</a>
                    </div>
                    <div class="columns small-3 item">
                        <a href="/register" class="{{ if eq .Active "shop" }} active {{end}}">Register</a>
                    </div>
                    <div class="columns small-3 item">
                        <a href="/login" class="{{ if eq .Active "standlocator" }} active {{end}}">Login</a>
                    </div>
                    <div class="columns small-3 item">
                        <a href="/post" class="{{ if eq .Active "standlocator" }} active {{end}}">Post</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>